@font-face {
    font-family: "Aeonic Bold";
    src: url("/fonts/Aeonik/AeonikTRIAL-Bold.otf");
}

@font-face {
  font-family: "Aeonic Regular";
  src: url("/fonts/Aeonik/AeonikTRIAL-Regular.otf");
}


// html,
// body {
//   background-color: #fdf4ea!important;
//   // font-size: 16px !important;
// }

.main-title {
  font-family: "Aeonic Bold", sans-serif;
}

.second-title {
  font-family: "Aeonic Regular", sans-serif;
}

table, th, td {
  border:1px solid black;
  
}

td, th {
  height: 40px;
}

td {
  background-color: #FCEDFF;
}